@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'sans-serif';
}

body{
  min-width: 400px;
}

.slide-in{
    animation: slideIn 500ms forwards ease-in-out
};

@keyframes slideIn {
    0%{
        transform: translateX(-10000px);
    }
    100%{
        transform: translateX(0)
    }
};